* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cadastro-produtos {
    width: 100%;
    max-width: 1100px;
    height: auto;
    background: rgb(249, 250, 246);
    margin: 0 auto;
}

.section {
    width: 95%;
    height: auto;
    box-shadow: 0px 20px 40px #2426721C;
    margin: 10px auto;
}

.nav {
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.carrinho-conmpra {
    display: flex;
}


.divBusca {
    display: flex;
    flex-grow: 1;
    max-width: 30%;
    align-items: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    border: solid 1px;
    border-radius: 15px;
    height: 30px;
    border: none;
    color: #0c3455;

}

header.nav>nav>.divCarrinho img {
    width: 2.5rem;

}

#txtBusca {
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 100%;
    border: none;
    height: 100%;
    width: 100%;
    color: #0c3455;
}


a.btnMinhaConta {
    font-size: 2rem;
    border: none;
    background-color: #143CDB;
    color: white;
    padding: 0.5rem;
    text-decoration: none;

}

header.nav>nav>.divMinhaConta img {
    width: 2.5rem;

}

/* início do fomulário de cadastro*/
/*================================*/
.titulo {
    /* border: solid 1px black; */
    width: 100%;
    margin-top: 3rem;
    color: #0c3455;
    text-align: center;
}

.cadastrando {
    width: 100%;
    height: auto;
    padding: 0.2rem;
    border: 2px rgb(10, 43, 10);
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #0c3455;
}


.div-nome-espaco {
    width: 100%;
}


input::placeholder {
    color: #0c3455;
    font-weight: 900;
}

input::file-selector-button {

    border: 0;
    border-radius: 30px;
    margin: 10px;
    color: #0c3455;
    font-weight: 900;


}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #0c3455;
    border-radius: 20px;
    outline: none;

}


.botao {
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: #0c3455;
    margin: 40px 0px;
    margin-bottom: 100px;

}



.rodape {
    width: 95%;
    height: 300px;
    border: 2px rgb(10, 43, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 3px;
    box-shadow: 0px 20px 40px #2426721C;
    color: #0c3455;
}

@media (max-width: 600px) {

    #txtBusca,
    .carrinho-conmpra,
    .divBusca {
        display: none;
    }

    .logo-header {
        margin: 0 auto;
        text-align: center;
    }




    .cadastrando {
        display: flex;
        flex-direction: column;
        width: 100%;


        align-items: center;

    }

    .compactar {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card {
        height: 35px;
        text-align: center;
    }

    .card-medio-longo {
        width: 90%;
        height: 35px;
        text-align: center;
    }

    .card-medio {
        width: 90%;
        height: 35px;
        text-align: center;

    }

    .card-longo {
        width: 90%;
        margin: 0;
        height: 35px;
        text-align: center;
        margin: 5px;
    }

    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;

        height: 35px;
        text-align: center;
        margin: 10px 0;
        padding: 0;

    }

    input::file-selector-button {
        display: flex;
        margin: 0;
        padding: 0;
    }




    .descricao {
        max-width: 90%;
        min-width: 80%;
        min-height: 30%;
        max-height: 40%;
        border: 1px solid;
        margin-bottom: 30%;
    }

    .plano-de-fundo {
        width: 90%;

    }

    .botao {
        display: flex;
        flex-direction: column;
    }

    .botoes {
        width: 100%;
    }

    .botoes:hover {
        background: rgb(234, 192, 172, 0.8);
        transition: 0.4s;
    }

    .botoes:active {
        background: #0c3455;
        transition: 0.3s;
        color: white;
    }






}